body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    padding: 20px;
}

nav ul {

    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 35%;
    text-transform: uppercase;
}

nav li {
    letter-spacing: 0.7px;
    color: white;
}

li:hover {
    cursor: pointer;
    color: lightslategray;
}

main img {
    height: 800px;
    width: 95%;
    margin: 0px 0px 20px 0px;
}

.main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;


}

.para {
    width: 80%;
}

footer {
    background: rgb(82, 74, 74);
    padding: 5px;
    text-align: center;
}



